/* CSS Reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

header {
    margin: 2%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #4f4f4f;
    font-family: 'Roboto Mono', monospace;
}

section {
    padding: 0.5% 0;
}

a {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

nav a {
    display: inline-block;
    width: 10%;
    padding: 0.25% 0;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    line-height: 1.25;
}

.orange {
    background-color: #FF764E;
    margin-left: 17.5%;
}

.blue {
    background-color: #5ED3EB;
    margin:0 15%;
}

.yellow {
    background-color: #FFCD69;
    margin-right: 17.5%;
}

.intro-container {
    position: relative;
    margin: 2%;
}

.header-img, .intro-text {
    display: inline-block;
    text-align: center;
}

.header-img {
    width: 30%;
    margin-left: 3%;
}

.header-img img {
    display: block;
    border-radius: 50%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.intro-text {
    width: 55%;
    margin: 3% 3%;
    position: absolute;
    font-size: 2rem;
    line-height: 1.25;
}

h1 {
    font-family: 'Chelsea Market', sans-serif;
    font-size: 8rem;
}

h2 {
    margin: 3%;
}

.desc-container {
    text-align: center;
    color: white;
    background-color: #DDB9A3;
    margin: 0% 2%;
    padding: 0.1% 0%;
}

.desc-container p {
    margin: 1% 1%;
    font-size: 2rem;
}

.bold {
    font-weight: bold;
}

.links-container {
    text-align: center;
}

.links-container img {
    width: 10%;
}

.links-container p {
    margin: 1% 37.5% 3%;
    width: 25%;
}

.footer-img {
    max-height: 1%;
}

.footer-img img {
    display: block;
    width: 100%;
    height: auto;
}

footer {
    padding: 2%;
    background-color: #F9E7DC;;
}